.profile{
    display: flex;
}

.profileRight{
    flex : 9;
}

.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

.profileUserImg{
   width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    left: 0;
    right: 0;
    margin: auto;
    top :150px;
    border: 5px solid white ;
    cursor: pointer;
}

.editButtonCover{
    position: absolute;
    bottom: 40px;
    right:0;
    cursor: pointer;

}
.editButtonProfile{
    position: absolute;
    bottom: 20px;
    right: 46%;
    cursor: pointer;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.profileInfoName{
    font-size: 24px;
}


.profileInfoDesc{
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-weight: 300;
}

.profileRightBottom{
   display: flex;
}

.editButtonBio{
    margin-left: 10px;
    cursor: pointer;
}

.addFriend{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 10px;
    margin: 15px 0px;
    cursor: pointer;
  }