.landingContainerTop{
    display: flex;
    width: 100%;
}
.landingLeft{
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    height: calc((100vh - 50px)/2);
    background-color:black;
    opacity: 0.9;
}

.leftbox{
    display: flex;
    align-items:  center;
    flex-direction: column;
    justify-content: start;
    height: 30vh;
    width: 50vh;
    position: relative;
    background-color: rgb(254, 227, 205);
    box-shadow: 10px -16px rgb(35, 38, 41);
    border: 2px solid rgb(35, 38, 41);
    margin-right: 10px;
    margin-bottom: 90px;
}
.leftboxBottom {
    height: 10vh;
    width: 10vh;
    position: absolute;
    content: "";
    bottom: 0;
    right: 20%;
    top : 83.5%;
    background-color: rgb(254, 227, 205);
    border-left:0px solid black;
    border-bottom: 3px solid rgb(35, 38, 41);
    border-right: 3px solid rgb(35, 38, 41);
    border-top: 0px solid black;
    transform: rotate(45deg);
}
.leftboxIcon{
    margin-top: 40px;
   /* fill: rgb(242, 116, 13)*/;
    fill: rgb(35, 38, 41);
}

.textInsidebox{
    margin-top: 30%;
    margin-left: 20%;
    margin-right: 20%;
    position: absolute;
    font-weight: 500;
    font-size: 20px;
}

.landingRight{
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: calc((100vh - 50px)/2);
    background-color:black;
    opacity: 0.9;
}

.rightbox{
    height: 30vh;
    width: 50vh;
    display: flex;
    align-items:  center;
    flex-direction: column;
    justify-content: start;
    position: relative;
    background-color: rgb(254, 227, 205);
    box-shadow: 10px -16px rgb(35, 38, 41);
    border: 2px solid rgb(35, 38, 41);
    margin-left: 10px;
    margin-bottom: 15px;
}

.rightboxBottom{
    height: 10vh;
    width: 10vh;
    position: absolute;
    bottom: 0;
    left: 20%;
    top : 83.5%;
    background-color: rgb(254, 227, 205);
    border-left:0px solid black;
    border-bottom: 3px solid rgb(35, 38, 41);
    border-right: 3px solid rgb(35, 38, 41);
    border-top: 0px solid black;
    transform: rotate(45deg);
}

.rightboxIcon{
   margin-top: 40px;
   /* fill: rgb(242, 116, 13)*/;
    fill: rgb(35, 38, 41);
}



.landingContainerBottom{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: calc((100vh - 50px)/2);
    background-color:black;
    opacity: 0.9;
}

.animationText{
    margin-top: 20px;
    height: 30vh;
    width: 100%;
}


